/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding: 0px;
    margin: 0px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* reset end */


/* header  */
.container-head {
    border: none !important; 
}
.header-fluid{
   background-color: #0c23a6;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.logo{
    color: #1776d4;
    font-family: Neuropol;
    font-size: 30px;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;   
}
.logo a{
    color: #fff;
    font-size: 30px;
}
.logo a:hover{
    text-decoration: none;
    color: #fff;
}

/* header end */

/* container */
#container {
  background: #fff;
}
.container {
    border: 1px solid #0148db;
    border-top: 0px;
    border-bottom: 0;    
}


.home-box-title{
    border: 1px solid #D3D3D3;
    padding:5px;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px 5px 0px;
    color: #636363;
    width: 99% !important;
    line-height: 26px;
}

/*  contact us info */
.contact-info{
    padding-left: 5px;   
    line-height: 20px;
    font-size: 13px;
}

/* footer start */
.container-footer {
    border: none !important; 
}
.footer-fluid{
    background-color: #000;
    width: 100%;
    color: #fff;
}
.footer-menu ul{
    float: left;
    list-style: none;
    margin: 0px;
}

.footer-menu ul li{
    display: inline-block;  
    line-height: 24px;
    padding: 0 3px;
}
/* footer  end */


/********************************************************/

/* navigation */
/* Reset */
#menu *
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}

#menu ul.menu
{  
    font: bold 12px Arial, Helvetica, Sans-serif;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    /*background: -webkit-gradient(linear, center top, center bottom, from(#FF2277), to(#fff));
    background-image: linear-gradient(#FF2277, #fff); */ 
     box-shadow:0px 0px 4px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);  
    background: limegreen;
    padding: 2px;
}
/* Geometrical arrangement */
#menu ul.menu li
{
    padding:0 7px 0 0;
    display: inline-block;
    height: 35px;
    position: relative;
    z-index:9993;
}
#menu ul.menu li a img
{
    float: left;
    margin-top: 2px;
}


#menu ul.menu li div
{
    position: absolute;
    top: 34px;
    left: 18px;
}
#menu ul.menu li div div
{
    position: absolute;
    top: -6px;
    left: 175px;
}
/* Escaping style for lower levels */
#menu ul.menu li div ul li
{
    display: block;
    float: none;
    width: auto;
    height: auto;

}
/** Graphics **/
/* Horizontal sliding doors */
#menu ul.menu li a
{
    padding-right: 14px;   
    padding:0 8px 0 8px;
    background-repeat: no-repeat;
    background-position: left -1000px;
    display: inline-block;
    margin: 5px 2px;
}
#menu ul.menu li a span
{   
    padding-left: 0px;
    background-repeat: no-repeat;
    background-position: right -1000px;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    cursor: pointer;
}
#menu ul.menu li a span:hover
{
    color: #000;
}
#menu ul.menu li:hover a
{
    background-position: left -54px;
}
#menu ul.menu li:hover a span
{
    background-position: right -81px;
}
#menu ul.menu li.active a
{
    background-position: left 0px;
}
#menu ul.menu li.active a span
{
    color: #fff;
    background-position: right -27px;
}
/* Escape Horizontal doors */
#menu ul.menu li div ul li a
{
    display: block;
    padding: 0px;
    margin: 0px;
    background: none;
}
#menu ul.menu li div ul li a span
{
    display: block;
    padding: 0px;
    background: none;
    height: auto;
    width: 165px;
    line-height: 20px;
    padding: 4px 0 4px 14px;
    white-space: normal;
}
/* Vertical sliding doors */
#menu ul.menu li div
{
    width: 200px;
    padding-top: 6px;
    background-repeat: no-repeat;
    background-position: 0px top;
}
#menu ul.menu li div ul
{
    padding: 6px 6px 9px 6px;
    padding-top: 0;
    width:188px;
    margin:0 0 0 0px;
    background-color:#00618C;
    background-repeat: no-repeat;
    background-position: 0px bottom;
    border-bottom:  1px solid #ccc;    
}
/* Hover Effect on Submenus */
#menu ul.menu ul li:hover
{
}
#menu ul.menu li.active ul li a span
{
    color: #fff;
    width: 165px;
}
#menu ul.menu li.active ul li a span:hover
{
    color:#000;
}
#menu ul.menu ul li a span:hover
{
    color:#000;
}
/* Main header line */
#menu
{
    /*height: 46px;*/
    padding-left: 0px;
}
/* Text shadow */
#menu span
{
    color: #fff;
}
#menu li:hover>a>span
{
    color: #FFFFFF;
}
/* Fonts */
#menu ul.menu li a span
{
    font-family: Arial;
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
    font-weight: bold;
}
#menu ul.menu li div ul li a span
{
    color:#fff;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: 400;
}
/* Lines between li */
#menu ul.menu li div ul
{
    margin:0 0 0 0px;
    padding:0 0 0 0;
    z-index:9998;
    margin-top: -2px;
}
#menu ul.menu li div ul li:first-child
{
    border-top-width: 0px;
}
/* Menu logic */
#menu li>div
{
    visibility: hidden;
}
#menu li:hover>div
{
    visibility: visible;
}
/* */
/* Hover Effect on Submenus */
#menu ul.menu ul li:hover
{
    background-color: limegreen;
}
/* Lines between li */
#menu ul.menu li div ul li
{ 
    border-bottom: 1px solid gray;
     background: limegreen;
    /*background: -webkit-gradient(linear, center top, center bottom, from(#FF2277), to(#fff));
    background-image: linear-gradient(#FF2277, #ccc);*/
}
#menu ul.menu ul a.parent
{
    background:url(../images/nav-arrow-right.png) no-repeat right center;
    margin-right: 10px;
}

/* feedback */
p.note{
    padding: 10px 0px 10px 0px;
    font-size: 12px;
}
.required{    
    color: #BF0C10;
    font-weight: bold;
}

.feedback input[type="text"]{
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 2px;
    color: #999999;   
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 12px;
    padding: 8px 6px;
    width: 312px;
}
.error {
    background: none repeat scroll 0 0 #FFCCCB;
    border: 1px solid #BD0600;
    float: left;
    padding: 3px 5px;
    margin-top: 5px;
}

.error#query{
    background: none;
}

#query{
    color: #999999 !important;
}


/*  button */
.btn-primary{
    margin-top: 20px;
    background: limegreen;     
}
.btn-primary:hover{
    background: limegreen;
}

.see-more {
    margin: 5px 20px 20px 0;
    float: right;
    font-weight: bold;
}

#loader{
    text-align: center;
    padding: 10px;
}


/* site content */

.site-content{
    font-size: 13px;
    line-height: 22px;
    padding: 20px 8px 0px 0px;
    text-align: justify;
}

/* ads */
/*.right-left-pane-ad{
    text-align: center;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;   
    border: 1px solid lightgray;
    width: 100%;
     box-shadow:0px 0px 4px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
}
*/

.right-left-pane-ad{
    text-align: center;
    padding: 5px 0px;
    margin-top: 5px;
    margin-bottom: 10px;  
    width: 100%;   
}





