/* CSS Document */

/*------------------------------------ Listing pages----------------------- */
.common-boxes{
    background-color: #ffffff;
    padding: 12px 24px;
    margin-top: 10px;
    line-height: 18px;
    font-size: 15px;
    box-shadow: 0 1px 2px -1px #3d3d3d;
}
.common-boxes h3{
    margin-bottom:20px;
}
.app-img-sec{
    width:180px;
    margin-right:20px;
}
.app-contain-sec{
    width:430px;
}
.common-boxes ul{
    padding:0px;
}
.common-boxes ul li{
    background-image: url("../images/right-sign-icon.png");
    background-position: left 14px;
    background-repeat: no-repeat;
    list-style: none outside none;
    padding-left: 20px;
    padding-top: 10px;
}
a.btn-01{
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 12px;
    line-height: 20px;
    text-align: center;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    background: #57ad68;
    background: #77cc6d;
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    text-transform: lowercase;
    border: 1px solid #439f55;
    text-transform: capitalize;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background: linear-gradient(#77cc6d,#77cc6d);
    background: -o-linear-gradient(#77cc6d,#77cc6d);
    background: -moz-linear-gradient(#77cc6d,#77cc6d);
    background: -webkit-linear-gradient(#77cc6d,#77cc6d);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
}
a.btn-01:hover, a.btn-01:focus{
    background: #5bad5d;
    background: linear-gradient(#5bad5d,#5bad5d);
    background: -o-linear-gradient(#5bad5d,#5bad5d);
    background: -moz-linear-gradient(#5bad5d,#5bad5d);
    background: -webkit-linear-gradient(#5bad5d,#5bad5d);
}
.float-l{
    float:left;	
}
.float-r{
    float:right;	
}
.custom-frame img{
    max-height: 430px;
    max-width: 252px;
}

/*------------------------------------Carousal Styles----------------------- */
.carousel{position:relative}
.carousel-inner{position:relative;overflow:hidden;width:100%}
.carousel-inner>.item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;transition:.6s ease-in-out left}
.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto;line-height:1}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}
.carousel-inner>.active{left:0}.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}
.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}
.carousel-inner>.active.left{left:-100%}
.carousel-inner>.active.right{left:100%}
.carousel-control{
    position:absolute;top:0;left:0;bottom:0;width:15%;opacity:.5;filter:alpha(opacity=50);
    font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}
.carousel-control.left{
    background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
    background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)}
.carousel-control.right{left:auto;right:0;background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));
                        background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
                        background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)}
.carousel-control:hover,.carousel-control:focus{outline:0;color:#fff;text-decoration:none;opacity:.9;filter:alpha(opacity=90)}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{position:absolute;top:50%;z-index:5;display:inline-block}
.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left{left:50%}
.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right{right:50%}
.carousel-control .icon-prev,.carousel-control .icon-next{width:20px;height:20px;margin-top:-10px;margin-left:-10px;font-family:serif}
.carousel-control .icon-prev:before{content:'\2039'}.carousel-control .icon-next:before{content:'\203a'}
.carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;
                     margin-left:-30%;padding-left:0;list-style:none;text-align:center}
.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;border:1px solid #fff;
                        border-radius:10px;cursor:pointer;background-color:#000 \9;background-color:rgba(0,0,0,0)}
.carousel-indicators .active{margin:0;width:12px;height:12px;background-color:#fff}
.carousel-caption{position:absolute;bottom:20px;z-index:10;padding-top:20px;padding-bottom:20px;
                  color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}
.carousel-caption .btn{text-shadow:none}
.carousel-caption {left: 0;right: 0;bottom: 0;padding: 7px 15px;background: rgba(0, 0, 0, 0.7);
}
.carousel-arrow a.carousel-control {opacity: 1;font-size: 30px;height: inherit;width: inherit;background: none;text-shadow: none;position: inherit;}
.carousel-arrow a i {top: 50%; opacity: 0.6; background: #000; margin-top: -18px; padding: 2px 12px;    position: absolute;}
.carousel-arrow a.right i {    right: 0;}
.carousel-arrow a.left i {left: 0;}
#divDownloadSlider
{
    width: 100%;
    margin: auto;
    max-width: 680px;
    position: relative;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 25px 65px 32px 77px;
    background-image: url("../images/nexus5-600-landscap.png");
}
#divDownloadSlider .carousel-inner>.item img
{
    max-height: 346px;
}
/*------------------------------------Download Page----------------------- */
.program-title, .hit-counter, .download-btn, .program-info, .update-subscription, .download-ads{
    margin-top:12px;
    margin-bottom:16px;	
}
.download-column>div
{
    margin-bottom: 16px;
}
.download-apps>div.yellow-button
{
    margin-bottom: 36px;
}
.program-title{
    margin-bottom:15px;
}
.program-title h2{
    color:#046416;
}
.program-title .item-version{
    color: #a09d9d;
    font-size: 0.75em;
    white-space: nowrap;
}
.powerby{
    line-height: 12px;
    font-size: 80%;
}
.powerby span{
    color: #000;
}
.powerby a{
    color: #0091d9;
}
.download-btn{
    background: #e38519; /* Old browsers */
    background: -moz-linear-gradient(top,  #e38519 0%, #ca6d03 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e38519), color-stop(100%,#ca6d03)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e38519 0%,#ca6d03 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e38519 0%,#ca6d03 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e38519 0%,#ca6d03 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e38519 0%,#ca6d03 100%); /* W3C */
    border-radius: 6px;
    text-align:center;
    text-shadow:none;
    color:#fff;
    padding-bottom: 15px;
    padding-top: 10px;
    display:block;
}
.download-btn:hover{
    background: #de8218;
    color:#fff;
}	
.download-btn strong{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}	
.download-btn .available{
    display: block;
    font-size: 17px;
}
.common-box{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: rgba(0,0,0,0.065);
    padding: 15px;
    border-radius:6px;
}
.program-info{
    list-style:none;
    font-size: 13px;
}
.program-info li span:first-child{
    display: inline-block;
    font-weight: normal;
    margin-right: 10px;
    text-align: right;
    width: 106px;
}
.update-subscription
{
    color: #333;
    padding: 10px;
    line-height: 18px;
    text-align: center;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #E2E4E6;
}
.update-subscription a{
    color: #0091d9;
    display: inline-block;
}
.update-subscription p{
    margin:0px;
}
.download-ads, .download-ads p{
    text-align: center;
}
.download-ads h2{
    text-transform: uppercase;
}
.download-ads h2 small
{
    display: block;
    font-size: 13px;
    text-transform: capitalize;
}
.download-ads a{
    padding: 0px;
}
.download-ads span{
    display:block;
    padding-bottom:10px;
}
.download-right h1{
    font-size:30px;
}
.list-use-apps li{
    padding-top: 5px;
    padding-left: 20px;
    background-repeat: no-repeat;
    list-style: none outside none;
    background-position: left 15px;
    background-image: url("../images/right-sign-icon.png");
}
.download-box table td{
    vertical-align: top;
}
.download-box h2{
    font-size: 30px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:20px;
}
.download-box p{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 35px;
    margin-top: 35px;
}
/* ---------------------------------------------------- Utility Follow Us ------------------------------------------ */
.utility-follow-sec h2
{
    padding: 15px;
    border-radius:6px;
    position: relative;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.065);
}
.utility-follow-sec h2:after {
    width: 0;
    left: 50%;
    content: "";
    bottom: -30px;
    display: block;
    position: absolute;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: rgba(0,0,0,0.065);
}
.utility-follow-sec ul.link-list {
    padding: 0;
    font-size: 16px;
    list-style: none;
    margin: 0 0 25px 0;
}
.utility-follow-sec ul.link-list li {
    padding-left: 10px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #FCF5F7;
    background-color: rgba(0,0,0,0.021);
}
.utility-follow-sec ul.link-list li:hover
{
    background-color: rgba(0,0,0,0.041);    
}
.utility-follow-sec ul.link-list li:first-child
{
    border-top-width: 0px;
}
.utility-follow-sec ul.link-list li:last-child
{
    border-bottom-width: 0px;
}
.utility-follow-sec ul.link-list li a {
    display: block;
    color: #3B3B3B;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}
.utility-follow-sec ul.link-list li a:hover,
.utility-follow-sec ul.link-list li a:focus,
.utility-follow-sec ul.link-list li a:active {
    color: #285935;
}
.social li a {

    padding-left: 42px;
}
.social li.facebook a {

    background: url("../images/social/facebook-icon.png") no-repeat left 11px;
}
.social li.googleplus a {
    background: url("../images/social/google-icon.png") no-repeat left 11px;
}

.social li.twitter a {
    background: url("../images/social/twitter-icon.png") no-repeat left 11px;
}

.social li.youtube a {
    background: url("../images/social/yotube-icon.png") no-repeat left 11px;
}
.social li.linkedin a {
    background: url("../images/social/linkedin-icon.png") no-repeat left 11px;
}
.social li.delicious a {
    background: url("../images/social/delicious.png") no-repeat left 11px;

}
.social li.flickr a {
    background: url("../images/social/flickr.png") no-repeat left 11px;
}
.divDownloadThis
{
    width: 100%;
    margin: auto;
    max-width: 340px;
}
.divDownloadThis>div
{
    position: relative;
    margin-bottom: 16px;
    padding-right: 10px;
}
.divDownloadThis>div:after
{
    clear: both;
    content: '';
    display: table;
}
.manuals-app-pdf, .manuals-app-doc{
    margin-top:30px;
}
.manuals-app-pdf p, .manuals-app-doc p{

    color:#fff;
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
    padding-right: 80px;
}
.manuals-app-pdf a, .manuals-app-doc a{
    top: -3px;
    right: -35px;
    position: absolute;
}
.manuals-app-pdf p{
    background-color:#24890d;
}
.manuals-app-doc p{
    background-color:#4c4c4c;
}
.clearfix:afte
{
    clear: both;
}
.clearfix:before,
.clearfix:after
{
    display: table;
    content: " ";
}

@media screen and (min-width:768px){
    .carousel-control .glyphicons-chevron-left,.carousel-control .glyphicons-chevron-right,
    .carousel-control .icon-prev,.carousel-control .icon-next{width:30px;height:30px;margin-top:-15px;margin-left:-15px;font-size:30px}
    .carousel-indicators{bottom:20px}
}
@media screen and (max-width:480px){
    #myDropdown > ul > li > a
    {
        font-size: 13px;
    }
    .download-right h1
    {
        font-size: 24px;
    }
    #divDownloadSlider {
        padding: 12px 30px 12px 35px;
    }
    ul.inline li
    {
        float: none;
    }
    .divDownloadThis{
        max-width: 256px;
        margin-left: 0px;
    }
    .manuals-app-pdf p, .manuals-app-doc p 
    {
        font-size: 17px;
    }
    .layout-main footer
    {
        margin-bottom: 1.6em;
    }
    footer ul.footer-menu li a
    {
        padding-left: 10px;
        border-left-width: 0px;
        border-bottom: 1px solid #adadad;
    }    
}