body{
    background-color: #b0c4de;
}
h1{
    color:Green;
    font-size:200%;
}
h2{
    color:rgb(100,20,70);
}

ul{
    color:black;
    font-size:120%;
}

div.reg {

    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    width: 260px;}
.title {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;}
.radio-buttons label {
    float: none;}
.submit {
    text-align:right;
    float: right;}