/*Import Global Compulsory CSS Files*/
@import url(plugins.css);

/*Import CSS Plugins*/
@import url(animate.css);
.div_slider-wrapper
{
    padding-top: 64px;
}
.shadow-wrapper {
  z-index: 1;  
  position: relative;
}
/*Common Style*/
.box-shadow {
	background: #fff;
	position: relative;
}
.box-shadow:after,
.box-shadow:before {
	top: 80%;
	left: 5px;
	width: 50%;
	z-index: -1;
	content: "";
	bottom: 15px;
	max-width: 300px;
	background: #999;
	position: absolute;	
}

 /*Effect 1*/
.shadow-effect-1 {
	box-shadow: 0 10px 6px -6px #bbb;
	-moz-box-shadow: 0 10px 6px -6px #bbb;
	-webkit-box-shadow: 0 10px 6px -6px #bbb;
}

 /*Effect 2,3,4*/
.shadow-effect-2 {
	position: relative;
}

.shadow-effect-2:after,
.shadow-effect-2:before,
.shadow-effect-3:before,
.shadow-effect-4:after {
	transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	box-shadow: 0 15px 10px #999;
	-moz-box-shadow: 0 15px 10px #999;
	-webkit-box-shadow: 0 15px 10px #999;
}

.shadow-effect-2:after,
.shadow-effect-4:after {
	left: auto;
	right: 5px;
  transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
.da-slider{
    width: 100%;
    height: 372px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-size: cover;
    transition: background-position 1.4s ease-in-out 0.3s;
    -o-transition: background-position 1.4s ease-in-out 0.3s;
    -ms-transition: background-position 1.4s ease-in-out 0.3s;
    -moz-transition: background-position 1.4s ease-in-out 0.3s;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
    -webkit-transition: background-position 1.4s ease-in-out 0.3s;
    background: transparent url("../images/parralax-slider-bg.jpg") repeat bottom left;
}
.div_slider-wrapper:after, .da-slider:after
{
    clear: both;
    content: '';
    display: table;
}
.da-slide{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    position: absolute;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
.da-slide-current{
    z-index: 10;
}
.da-slider-fb .da-slide{
    left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
    left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
    opacity: 0;
    left: 110%;
    z-index: 311;
    position: absolute;
}
.da-slide .da-img img
{
    max-height: 342px;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
    left: 10%;
    opacity: 1;
}
.da-slider-fb .da-slide .da-img{
    left: 60%;
    opacity: 1;
}
.da-slide h2{
    padding:0;
    top: 62px;
    z-index: 10;
    color: #db4935;
    margin-left:-2%;
    line-height:36px;
    max-width: 530px;
    font-weight: bold;
    text-transform:capitalize;
}
.da-slide h2, .da-slide p
{
    z-index: 11;
}
.da-slide h2 i {
    padding:0px;
    font-size: 31px;
    margin-bottom: 12px;
}
.da-slide p {
    width:100%;
    top: 150px;
    font-weight:400;
    margin-left:-2%;
    overflow: hidden;
}
.da-slide p i {
    color: #333;
    display: block;
    font-size:22px;
    max-width: 520px;
    line-height: 28px;
    position: relative;
    font-style: normal;
}
.da-slide p i:after
{
    top: 0px;
    right: 0px;
    color: white;
    display: none;
    line-height: 1;
    font-size: 15px;
    content: "\f00c";
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.da-slide p i:before
{   
    top: 0px;
    right: 0px;
    width: 20px;
    content: '';
    height: 20px;
    display: none;
    position: absolute;
    border: 2px solid #82B440;
    background-color: #91B440; 
}
.da-slide .da-img{
    top: 30px;
    width: 50%;
    left: 110%; /*60%*/
    height: 328px;
    margin-left:-16%;
    text-align: center;
    line-height: 320px;
}
.da-slide-current .da-img{
    left: 60%;
    opacity: 1;
}

.da-slide .da-link{
    top: 306px;
    min-width: 140px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #393b3e;
    background-color: #515459;
    text-shadow: 0px 1px 0 rgba(10,10,10,0.5);
    background-image: -o-linear-gradient(top, #515459, #3B3C40);
    background-image: -ms-linear-gradient(top, #515459, #3B3C40);
    background-image: -moz-linear-gradient(top, #515459, #3B3C40);
    background-image: linear-gradient(to bottom, #515459, #3B3C40);
    background-image: -webkit-linear-gradient(top, #515459, #3B3C40);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#515459), to(#3B3C40));
}
.da-slide .da-link a
{
    color: white;
    display: block;
    font-size: 16px;
    padding: 5px 12px;
    text-transform: capitalize;
}
.da-slide .da-link:hover{
 border-color: #393b3e; 
 background-color: #3B3C40;
 background-image: -o-linear-gradient(top, #3B3C40, #202124);
 background-image: -ms-linear-gradient(top, #3B3C40, #202124);
 background-image: -moz-linear-gradient(top, #3B3C40, #202124);
 background-image: -webkit-linear-gradient(top, #3B3C40, #202124);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#3B3C40), to(#202124));
 background-image: linear-gradient(to bottom, #3B3C40, #202124);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3B3C40, endColorstr=#202124);
}
.da-slide .da-link a:hover
{
    text-decoration:none;    
}
.da-dots{
    left: 0px;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-dots span{
    width: 12px;
    margin: 3px;
    height: 12px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-radius: 50% !important;
    background-color: rgba(0,0,0,0.55);
}
.da-dots span.da-dots-current:after{
    top: 2px;
    left: 2px;
    width: 8px;
    content: '';
    height: 8px;
    position: absolute;
    border-radius: 50% !important;
    background:#fff;
}
.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-arrows span{
    top: 50%;
    opacity: 0;
    z-index: 410;
    width: 49px;
    height: 49px;
    cursor: pointer;
    margin-top: -25px;
    position: absolute;
    background-color: rgba(0,0,13,1);
    border: 2px solid rgb(241, 241, 241);
    transition: opacity 0.4s ease-in-out 0.2s;
    -o-transition: opacity 0.4s ease-in-out 0.2s;
    -ms-transition: opacity 0.4s ease-in-out 0.2s;
    -moz-transition: opacity 0.4s ease-in-out 0.2s;
    -webkit-transition: opacity 0.4s ease-in-out 0.2s;
}
.da-slider:hover .da-arrows span{
    opacity: 0.8;
}
.da-slider:hover .da-arrows span:hover{
    opacity: 1;
}
.da-arrows span:after{
    content:'';
    width: 49px;
    height: 49px;
    position: absolute;
}
.da-arrows span:before{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 32px;
    line-height: 46px;
    padding-left: 16px;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.da-arrows span.da-arrows-prev{
    left: 12px;
}
.da-arrows span.da-arrows-prev:before
{
    content: "\f104";
}
.da-arrows span.da-arrows-next:before{
    content: "\f105";
}
.da-arrows span.da-arrows-next{
    right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
    left: 10%;
    opacity: 1;
}


/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
    -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright p{
    -webkit-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim2 0.6s ease-in 0.8s both;
    animation: fromRightAnim2 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-link{
    -webkit-animation: fromRightAnim3 0.4s ease-in 1.2s both;
    -moz-animation: fromRightAnim3 0.4s ease-in 1.2s both;
    -o-animation: fromRightAnim3 0.4s ease-in 1.2s both;
    -ms-animation: fromRightAnim3 0.4s ease-in 1.2s both;
    animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright .da-img{
    -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
    animation: fromRightAnim4 0.6s ease-in 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
    0%{ left: 110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
    0%{ left: 110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
    0%{ left: 110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
    0%{ left: 110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
    0%{ left: 110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
    -webkit-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim1 0.6s ease-in 0.6s both;
    animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft p{
    -webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
    animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-link{
    -webkit-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
    -moz-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
    -o-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
    -ms-animation: fromLeftAnim3 0.4s ease-in 1.2s both;
    animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft .da-img{
    -webkit-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    -moz-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    -o-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    -ms-animation: fromLeftAnim4 0.6s ease-in 0.6s both;
    animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
    0%{ left: -110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
    0%{ left: -110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
    0%{ left: -110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
    0%{ left: -110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
    0%{ left: -110%; opacity: 0; }
1%{ left: 10%; opacity: 0; }
100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
    -webkit-animation: toRightAnim1 0.6s ease-in 0.6s both;
    -moz-animation: toRightAnim1 0.6s ease-in 0.6s both;
    -o-animation: toRightAnim1 0.6s ease-in 0.6s both;
    -ms-animation: toRightAnim1 0.6s ease-in 0.6s both;
    animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright p{
    -webkit-animation: toRightAnim2 0.6s ease-in 0.3s both;
    -moz-animation: toRightAnim2 0.6s ease-in 0.3s both;
    -o-animation: toRightAnim2 0.6s ease-in 0.3s both;
    -ms-animation: toRightAnim2 0.6s ease-in 0.3s both;
    animation: toRightAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-link{
    -webkit-animation: toRightAnim3 0.4s ease-in both;
    -moz-animation: toRightAnim3 0.4s ease-in both;
    -o-animation: toRightAnim3 0.4s ease-in both;
    -ms-animation: toRightAnim3 0.4s ease-in both;
    animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-img{
    -webkit-animation: toRightAnim4 0.6s ease-in both;
    -moz-animation: toRightAnim4 0.6s ease-in both;
    -o-animation: toRightAnim4 0.6s ease-in both;
    -ms-animation: toRightAnim4 0.6s ease-in both;
    animation: toRightAnim4 0.6s ease-in both;
}
@-webkit-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
    0%{ left: 60%;  opacity: 1; }
30%{ left: 55%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
    0%{ left: 60%;  opacity: 1; }
30%{ left: 55%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
    0%{ left: 60%;  opacity: 1; }
30%{ left: 55%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
    0%{ left: 60%;  opacity: 1; }
30%{ left: 55%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
    0%{ left: 60%;  opacity: 1; }
30%{ left: 55%;  opacity: 1; }
100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
    -webkit-animation: toLeftAnim1 0.6s ease-in both;
    -moz-animation: toLeftAnim1 0.6s ease-in both;
    -o-animation: toLeftAnim1 0.6s ease-in both;
    -ms-animation: toLeftAnim1 0.6s ease-in both;
    animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft p{
    -webkit-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    -moz-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    -o-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    -ms-animation: toLeftAnim2 0.6s ease-in 0.3s both;
    animation: toLeftAnim2 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-link{
    -webkit-animation: toLeftAnim3 0.4s ease-in both;
    -moz-animation: toLeftAnim3 0.4s ease-in both;
    -o-animation: toLeftAnim3 0.4s ease-in both;
    -ms-animation: toLeftAnim3 0.4s ease-in both;
    animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft .da-img{
    -webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    -moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    -o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    -ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
    animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
@-webkit-keyframes toLeftAnim1{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
    0%{ left: 60%;  opacity: 1; }
40%{ left: 70%;  opacity: 1; }
90%{ left: 0%;  opacity: 0; }
100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
    0%{ left: 60%;  opacity: 1; }
40%{ left: 70%;  opacity: 1; }
90%{ left: 0%;  opacity: 0; }
100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
    0%{ left: 60%;  opacity: 1; }
40%{ left: 70%;  opacity: 1; }
90%{ left: 0%;  opacity: 0; }
100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
    0%{ left: 60%;  opacity: 1; }
40%{ left: 70%;  opacity: 1; }
90%{ left: 0%;  opacity: 0; }
100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
    0%{ left: 10%;  opacity: 1; }
30%{ left: 15%;  opacity: 1; }
100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
    0%{ left: 10%;  opacity: 1; }
99%{ left: 10%; opacity: 0; }
100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
    0%{ left: 60%;  opacity: 1; }
40%{ left: 70%;  opacity: 1; }
90%{ left: 0%;  opacity: 0; }
100%{ left: -50%; opacity: 0; }
}
/*Higher Resolutions*/
@media screen and (min-width: 1024px) and (max-width: 1179px) {
    .da-slide .da-img
    {
        margin-left: -3%;
    }
}
@media screen and (min-width: 1180px) and (max-width: 1379px) {
    .da-slide .da-img
    {
        margin-left: -3%;
    }
}
@media (min-width: 1440px) {
    .da-slide h2,
    .da-slide p,
    .da-slide .da-link{
        margin-left:3%;
    }
    .da-slide .da-img{
        margin-left:-10%;
    }
}

@media (min-width: 1680px) {
    .da-slide h2,
    .da-slide p ,
    .da-slide .da-link {
        margin-left:7%;
    }
    .da-slide .da-img{
        margin-left:-2%;
    }
}

@media (min-width: 1920px) {
    .da-slide h2,
    .da-slide p,
    .da-slide .da-link  {
        margin-left:12%;
    }
    .da-slide .da-img{
        margin-left:-4%;
    }
}
@media screen and (max-width:480px){
    .da-slide h2
    {
        text-align: center;
    }
    .da-slide h2 i
    {
        font-size: 24px;
    }
}