/*   
 * Template Name: Unify - Responsive Bootstrap Template
 * Description: Business, Corporate, Portfolio and Blog Theme.
 * Version: 1.4
 * Author: @htmlstream
 * Website: http://htmlstream.com
*/

/*Parallax Slider (Main)
------------------------------------*/
.slider-inner .da-slider {
   box-shadow: none;
   border-bottom: 0px solid #ddd;
}

.slider-inner .da-dots {
  z-index: 10;
}

@media (max-width: 450px) {
   .da-slide p {
      display:none;
   }   
}

@media (max-width: 900px) {
   /*Slider Parallax*/
   .da-slide .da-img {
      display:none;
   }
}

/*Revolution Slider
------------------------------------*/
.fullwidthbanner-container{
   padding:0;
   overflow:hidden;
   position:relative;
   width:100% !important;
   max-height:500px !important;
}

/*Layer Slider
------------------------------------*/
.layer_slider {
   overflow: hidden;
}

.ls-ct-half, .ls-ct-center {
   border-radius: 100px !important;
}
.overlay-zoom {
   z-index: 90;
   width: 100%;
   height: 100%;
   display: block;
   cursor: pointer;
   position: relative;     
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
}

.overlay-zoom .zoom-icon {
   top:0;   
   opacity: 0; 
   z-index: 100;
   width: inherit;
   height: inherit;
   position: absolute;
   background-color: #000;
   background-position: 50%;
   background-repeat: no-repeat;
   background-image:url("../img/overlay-icon.png");
   filter: alpha(opacity = 0);
   -webkit-backface-visibility: hidden;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
}

@media (max-width: 768px) {
   .fancybox-overlay {
      background: none !important;
   }
}